{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #6A0DAD;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5B009E;
}

nav a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #6A0DAD;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="tel"] {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"]:focus, input[type="tel"]:focus {
  outline: none;
  border: 1px solid #6A0DAD;
}

input[type="submit"] {
  background-color: #6A0DAD;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #5B009E;
}
